<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="TEST_LOG_DIR" value="logs/test"/>
    <timestamp key="TEST_BOOT_TS" datePattern="yyyyMMdd-HHmmss"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} : %clr([%X{testClass:-no-class}#%X{testMethod:-no-method}] %m)&#10;</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="TEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${TEST_LOG_DIR}/bytedance-ai-video-test-${TEST_BOOT_TS}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [run:%X{testRunId:-${TEST_BOOT_TS}}] [%X{testClass:-no-class}#%X{testMethod:-no-method}] %logger{48} - %msg&#10;</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${TEST_LOG_DIR}/bytedance-ai-video-test-${TEST_BOOT_TS}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.bytedance.aivideo" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TEST_FILE"/>
    </root>
</configuration>
